/.python-version
/image.py
/vendors_booths.xlsx
/vendors_booths2.xlsx
/vendors_booths3.xlsx
/vendors_booths_and_sponsors.xlsx
/vendors_booths_and_sponsors10.xlsx
/vendors_booths_and_sponsors2.xlsx
/vendors_booths_and_sponsors4.xlsx
/vendors_booths_and_sponsors6.xlsx
/vendors_booths_and_sponsors7.xlsx
/vendors_booths_and_sponsors9.xlsx
~$vendors_booths_and_sponsors6.xlsx
sheet.json
/.idea/modules.xml
/.idea/misc.xml
/.idea/sheet-img.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.env
/Assets/map_sample.jpg
/.idea/inspectionProfiles/Project_Default.xml
/.idea/workspace.xml
/file_test.py
/test.html
/test.py
/test2.py
/test3.py
/2024.jpg
/2024.pdf
/2024.png
/Figure_1.png
/gencon_map_with_stars.jpg
/map.jpg
/map_with_annotations.png
/map_with_star.jpg
/map_with_star.pdf
/map_with_star.png
/map_with_stars.png
/mask.png
/mask_with_polygon.png
/star.png
/star.svg
